*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  line-height: 1.7;
}

span {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  transform: translateY(20px);
}

span.fade {
  opacity: 1;
  transform: translateY(0);
}
